USE [master]
GO
/****** Object:  Database [Stankoservice]    Script Date: 25.06.2018 8:13:48 ******/
CREATE DATABASE [Stankoservice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stankoservice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Stankoservice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stankoservice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Stankoservice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stankoservice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stankoservice]
GO
USE [Stankoservice]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25.06.2018 8:13:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Data] [varbinary](max) NULL,
	[ChangeDate] [date] NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryProject]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryProject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NULL,
	[UserId] [int] NULL,
	[StatusId] [int] NULL,
	[Comment] [varchar](500) NULL,
	[ProjectId] [int] NULL,
 CONSTRAINT [PK_HistoryProject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryTask]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NULL,
	[UserId] [int] NULL,
	[StatusId] [int] NULL,
	[Comment] [varchar](500) NULL,
	[TaskId] [int] NULL,
 CONSTRAINT [PK_HistoryTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [varchar](100) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CompletionDate] [date] NULL,
	[StatusId] [int] NULL,
	[FileId] [int] NULL,
	[CustomerId] [int] NULL,
	[WorkerId] [int] NULL,
	[TypePeriodId] [int] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solution]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [varchar](500) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_Solution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolutionFile]    Script Date: 25.06.2018 8:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolutionFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[SolutionId] [int] NULL,
 CONSTRAINT [PK_SolutionFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 25.06.2018 8:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [varchar](200) NULL,
	[WorkerId] [int] NULL,
	[ProjectId] [int] NULL,
	[EndDate] [datetime] NULL,
	[StatusId] [int] NULL,
	[PriorityId] [int] NULL,
	[Description] [varchar](500) NULL,
	[CompletionDate] [date] NULL,
	[ManagerId] [int] NULL,
	[ParentId] [int] NULL,
	[SolutionId] [int] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskFile]    Script Date: 25.06.2018 8:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NULL,
	[FileId] [int] NULL,
 CONSTRAINT [PK_TaskFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.06.2018 8:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](50) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 25.06.2018 8:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Patronymic] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[DateOfEmploy] [date] NULL,
	[Phone] [varchar](20) NULL,
	[PhotoId] [int] NULL,
	[PositionId] [int] NULL,
	[UserId] [int] NULL,
	[ResumeId] [int] NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[File] ON 

SET IDENTITY_INSERT [dbo].[File] OFF
SET IDENTITY_INSERT [dbo].[HistoryProject] ON 

INSERT [dbo].[HistoryProject] ([Id], [DateTime], [UserId], [StatusId], [Comment], [ProjectId]) VALUES (2, CAST(N'2018-06-24T03:10:30.900' AS DateTime), 1, 0, N'Скоро начнется обсуждение подготовки проекта', 2)
INSERT [dbo].[HistoryProject] ([Id], [DateTime], [UserId], [StatusId], [Comment], [ProjectId]) VALUES (3, CAST(N'2018-06-24T03:12:20.303' AS DateTime), 1, 0, N'Все необходимое для подготовки находится в ТЗ', 3)
INSERT [dbo].[HistoryProject] ([Id], [DateTime], [UserId], [StatusId], [Comment], [ProjectId]) VALUES (4, CAST(N'2018-06-24T03:15:04.543' AS DateTime), 1, 0, N'', 4)
SET IDENTITY_INSERT [dbo].[HistoryProject] OFF
SET IDENTITY_INSERT [dbo].[HistoryTask] ON 

INSERT [dbo].[HistoryTask] ([Id], [DateTime], [UserId], [StatusId], [Comment], [TaskId]) VALUES (1, CAST(N'2018-06-24T20:27:10.477' AS DateTime), 3, 0, N'', 1)
INSERT [dbo].[HistoryTask] ([Id], [DateTime], [UserId], [StatusId], [Comment], [TaskId]) VALUES (2, CAST(N'2018-06-24T20:39:02.620' AS DateTime), 3, 0, N'', 2)
INSERT [dbo].[HistoryTask] ([Id], [DateTime], [UserId], [StatusId], [Comment], [TaskId]) VALUES (3, CAST(N'2018-06-24T20:43:17.350' AS DateTime), 3, 0, N'', 3)
SET IDENTITY_INSERT [dbo].[HistoryTask] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [PositionName]) VALUES (1, N'Junior C# Developer')
INSERT [dbo].[Position] ([Id], [PositionName]) VALUES (2, N'Middle C# Developer')
INSERT [dbo].[Position] ([Id], [PositionName]) VALUES (3, N'Senior C# Developer')
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Id], [Name], [StartDate], [EndDate], [CompletionDate], [StatusId], [FileId], [CustomerId], [WorkerId], [TypePeriodId]) VALUES (2, N'Best Software', CAST(N'2017-06-25' AS Date), CAST(N'2017-07-24' AS Date), CAST(N'2017-07-23' AS Date), 6, 11, NULL, 4, 1)
INSERT [dbo].[Project] ([Id], [Name], [StartDate], [EndDate], [CompletionDate], [StatusId], [FileId], [CustomerId], [WorkerId], [TypePeriodId]) VALUES (3, N'GoodApp', CAST(N'2017-03-10' AS Date), CAST(N'2017-08-24' AS Date), CAST(N'2017-07-19' AS Date), 6, 12, NULL, 5, 2)
INSERT [dbo].[Project] ([Id], [Name], [StartDate], [EndDate], [CompletionDate], [StatusId], [FileId], [CustomerId], [WorkerId], [TypePeriodId]) VALUES (4, N'Funny Puzzle', CAST(N'2017-06-07' AS Date), CAST(N'2018-07-05' AS Date), CAST(N'2018-03-17' AS Date), 6, 13, NULL, 2, 2)
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[Solution] ON 

INSERT [dbo].[Solution] ([Id], [Comment], [DateTime]) VALUES (1, N'Мой комментарийМой комментарийМой комментарийМой комментарий
Мой комментарийМой комментарийМой комментарийМой комментарий
Мой комментарийМой комментарийМой комментарийМой комментарий', CAST(N'2018-06-24T21:37:13.640' AS DateTime))
INSERT [dbo].[Solution] ([Id], [Comment], [DateTime]) VALUES (2, N'Мой комментарийМой комментарийМой комментарийМой комментарий
Мой комментарийМой комментарийМой комментарий
Мой комментарийМой комментарийМой комментарийМой комментарий', CAST(N'2018-06-24T21:38:14.867' AS DateTime))
INSERT [dbo].[Solution] ([Id], [Comment], [DateTime]) VALUES (3, N'мой комментариймой комментариймой комментариймой комментарий
мой комментариймой комментариймой комментарий
мой комментариймой комментариймой комментариймой комментарий', CAST(N'2018-06-24T21:40:20.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[Solution] OFF
SET IDENTITY_INSERT [dbo].[SolutionFile] ON 

INSERT [dbo].[SolutionFile] ([Id], [FileId], [SolutionId]) VALUES (1, 40, 1)
INSERT [dbo].[SolutionFile] ([Id], [FileId], [SolutionId]) VALUES (2, 41, 2)
INSERT [dbo].[SolutionFile] ([Id], [FileId], [SolutionId]) VALUES (3, 42, 3)
SET IDENTITY_INSERT [dbo].[SolutionFile] OFF
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([Id], [TaskName], [WorkerId], [ProjectId], [EndDate], [StatusId], [PriorityId], [Description], [CompletionDate], [ManagerId], [ParentId], [SolutionId]) VALUES (1, N'Задача №1', 6, 7, CAST(N'2017-07-12T00:00:00.000' AS DateTime), 1, 1, N'Здес большое описаниеЗдес большое описаниеЗдес большое описание
Здес большое описаниеЗдес большое описаниеЗдес большое описание
Здес большое описаниеЗдес большое описаниеЗдес большое описание', CAST(N'2018-06-24' AS Date), 3, NULL, 2)
INSERT [dbo].[Task] ([Id], [TaskName], [WorkerId], [ProjectId], [EndDate], [StatusId], [PriorityId], [Description], [CompletionDate], [ManagerId], [ParentId], [SolutionId]) VALUES (2, N'Подзадача №1', 7, 4, CAST(N'2017-06-22T00:00:00.000' AS DateTime), 0, 4, N'', NULL, 3, 1, NULL)
INSERT [dbo].[Task] ([Id], [TaskName], [WorkerId], [ProjectId], [EndDate], [StatusId], [PriorityId], [Description], [CompletionDate], [ManagerId], [ParentId], [SolutionId]) VALUES (3, N'Подзадача №2', 6, 4, CAST(N'2017-01-18T00:00:00.000' AS DateTime), 0, 3, N'', NULL, 3, 2, NULL)
SET IDENTITY_INSERT [dbo].[Task] OFF
SET IDENTITY_INSERT [dbo].[TaskFile] ON 

INSERT [dbo].[TaskFile] ([Id], [TaskId], [FileId]) VALUES (1, 1, 17)
INSERT [dbo].[TaskFile] ([Id], [TaskId], [FileId]) VALUES (2, 1, 18)
INSERT [dbo].[TaskFile] ([Id], [TaskId], [FileId]) VALUES (3, 1, 19)
SET IDENTITY_INSERT [dbo].[TaskFile] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Email], [Password], [RoleId]) VALUES (1, N'vlad.sergeev.1914@mail.ru', N'123', 0)
INSERT [dbo].[User] ([Id], [Email], [Password], [RoleId]) VALUES (3, N'ma5ckil@yandex.ru', N'123', 1)
INSERT [dbo].[User] ([Id], [Email], [Password], [RoleId]) VALUES (4, N'm.tzuckerberg@yandex.ru', N'123', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([Id], [Name], [Surname], [Patronymic], [DateOfBirth], [DateOfEmploy], [Phone], [PhotoId], [PositionId], [UserId], [ResumeId]) VALUES (2, N'Илон', N'Маск', N'Петрович', CAST(N'1988-05-12' AS Date), CAST(N'2017-11-20' AS Date), N'152-52-34', 3, 15, 3, 16)
INSERT [dbo].[Worker] ([Id], [Name], [Surname], [Patronymic], [DateOfBirth], [DateOfEmploy], [Phone], [PhotoId], [PositionId], [UserId], [ResumeId]) VALUES (3, N'Марк', N'Цукерберг', N'Александрович', CAST(N'1970-06-12' AS Date), CAST(N'2009-02-06' AS Date), N'624-63-44', 4, 12, 4, NULL)
INSERT [dbo].[Worker] ([Id], [Name], [Surname], [Patronymic], [DateOfBirth], [DateOfEmploy], [Phone], [PhotoId], [PositionId], [UserId], [ResumeId]) VALUES (4, N'Билл', N'Гейтс', N'Павлович', CAST(N'1955-07-17' AS Date), CAST(N'1995-07-14' AS Date), N'845-83-56', 5, 16, 5, NULL)
SET IDENTITY_INSERT [dbo].[Worker] OFF
ALTER TABLE [dbo].[HistoryProject]  WITH CHECK ADD  CONSTRAINT [FK_HistoryProject_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HistoryProject] CHECK CONSTRAINT [FK_HistoryProject_Project]
GO
ALTER TABLE [dbo].[HistoryProject]  WITH CHECK ADD  CONSTRAINT [FK_HistoryProject_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[HistoryProject] CHECK CONSTRAINT [FK_HistoryProject_User]
GO
ALTER TABLE [dbo].[HistoryTask]  WITH CHECK ADD  CONSTRAINT [FK_HistoryTask_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryTask] CHECK CONSTRAINT [FK_HistoryTask_Task]
GO
ALTER TABLE [dbo].[HistoryTask]  WITH CHECK ADD  CONSTRAINT [FK_HistoryTask_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[HistoryTask] CHECK CONSTRAINT [FK_HistoryTask_User]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Customer]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[File] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_File]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Worker] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Worker]
GO
ALTER TABLE [dbo].[SolutionFile]  WITH CHECK ADD  CONSTRAINT [FK_SolutionFile_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[File] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SolutionFile] CHECK CONSTRAINT [FK_SolutionFile_File]
GO
ALTER TABLE [dbo].[SolutionFile]  WITH CHECK ADD  CONSTRAINT [FK_SolutionFile_Solution] FOREIGN KEY([SolutionId])
REFERENCES [dbo].[Solution] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SolutionFile] CHECK CONSTRAINT [FK_SolutionFile_Solution]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Solution] FOREIGN KEY([SolutionId])
REFERENCES [dbo].[Solution] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Solution]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_User] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[User] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_User]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Worker] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Worker]
GO
ALTER TABLE [dbo].[TaskFile]  WITH CHECK ADD  CONSTRAINT [FK_TaskFile_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[File] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TaskFile] CHECK CONSTRAINT [FK_TaskFile_File]
GO
ALTER TABLE [dbo].[TaskFile]  WITH CHECK ADD  CONSTRAINT [FK_TaskFile_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TaskFile] CHECK CONSTRAINT [FK_TaskFile_Task]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_File] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[File] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_File]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_File1] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[File] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_File1]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Position]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_User]
GO
USE [master]
GO
