<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfServiceApp.Service"  behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceApp.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Service"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>